.wrap {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  padding: 0;
}

.square {
  display: block;
  position: relative;
  width: 100%;
}

.square::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.square:nth-child(4n + 1),
.square:nth-child(4n) {
  background-color: #4268af;
}

.square:nth-child(4n + 2),
.square:nth-child(4n + 3) {
  background-color: #3e61a3;
}

.heading {
  margin: 0;
  padding: 10px;
  font-size: 1.1rem;
  text-transform: uppercase;
  background-color: #35548b;
  color: #fff;
}

.link {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
}

.link::before {
  content: '';
  position: absolute;
  right: 10px;
  top: 10px;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.link::after {
  content: '';
  position: absolute;
  right: 16px;
  top: 16px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(-45deg);
  width: 8px;
  height: 8px;
}

@media only screen and (min-width: 576px) {
  .wrap {
    grid-template-columns: repeat(3, 1fr);
  }

  .square:nth-child(odd) {
    background-color: #4268af;
  }

  .square:nth-child(even) {
    background-color: #3e61a3;
  }
}

@media only screen and (min-width: 768px) {
  .wrap {
    grid-template-columns: repeat(4, 1fr);
  }

  .square:nth-child(8n),
  .square:nth-child(8n + 1),
  .square:nth-child(8n + 3),
  .square:nth-child(8n + 6) {
    background-color: #4268af;
  }

  .square:nth-child(8n + 2),
  .square:nth-child(8n + 4),
  .square:nth-child(8n + 5),
  .square:nth-child(8n + 7) {
    background-color: #3e61a3;
  }
}

@media only screen and (min-width: 992px) {
  .wrap {
    grid-template-columns: repeat(5, 1fr);
  }

  .square:nth-child(odd) {
    background-color: #4268af;
  }

  .square:nth-child(even) {
    background-color: #3e61a3;
  }
}

@media only screen and (min-width: 1200px) {
  .wrap {
    grid-template-columns: repeat(6, 1fr);
  }

  .square:nth-child(12n + 1),
  .square:nth-child(12n + 3),
  .square:nth-child(12n + 5),
  .square:nth-child(12n + 8),
  .square:nth-child(12n + 10),
  .square:nth-child(12n) {
    background-color: #4268af;
  }

  .square:nth-child(12n + 2),
  .square:nth-child(12n + 4),
  .square:nth-child(12n + 6),
  .square:nth-child(12n + 7),
  .square:nth-child(12n + 9),
  .square:nth-child(12n + 11) {
    background-color: #3e61a3;
  }
}
